@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&display=swap");

@import "@rainbow-me/rainbowkit/styles.css";

@import "../utils/styles/home/showcase.module.css";

.font-sen {
  font-family: "Sen", system-ui;
  font-optical-sizing: auto;
}

.font-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}

html {
  font-size: 100%; /* 16px */
}

@media (min-width: 640px) {
  html {
    font-size: 112.5%; /* 18px */
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 125%; /* 20px */
  }
}
